.num {
     font-size: xx-large;
     padding-top: 20px;
     padding-bottom: 10px;
}

.goButton {
     background-color: #333;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     border-radius: 8px;
     cursor: pointer;
}

.goButton:hover {
     background-color: #111;
}